$anchor-active: #f00;

@import "news_special/defaults";

body {
    color: #404040;
}

.main {
    position: relative;
    @include respondMinMax (480px, 605px) {
        margin-left: 1em;
        margin-right: 1em;
    }
    @include respondMinMax (575px, 767px) {
        width: 575px;
    }
    @include respondMinMax (768px, 977px) {
        width: 768px;
    }
    @include respondMinMax (976px, false) {
        width: 882px;
    }
}

@import "includes/map";
@import "includes/legend";

.credit {
    clear: both;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5;
}
